<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Card</title>
</head>
<body>
    <section class="header">
        <header>
          {% block header %}{% endblock %}
        </header>
    </section>
    <section class="content">
        {% block content %}{% endblock content %}
  </section>
  <section class="footer">
    {% block footer %}
    <ul style="display: inline-flex;">
        <li>sdsds</li>
        <li>SDsd</li>
    </ul>
    {% endblock footer %}
  </section>
</body>
</html>